.fileview {
    background: #FFF;
    -webkit-border-radius: 2px;
    margin: -5px 1px 0 -19px;
    height: 100%;
    overflow: auto
}

.files {
    margin: 5px;
}
img.box{
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.max{
  font-size:80px;
}
.file {
    padding: 2px;
    margin: 10px;
    width: 80px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.face{
  width:60px;
  height:60px;
}
figure{
  margin:8px;
}
.file .icon {
    margin: auto;
    margin-top: 0;
    width: 60px;
}

.file .name {
    width: 80px;
    word-wrap: break-word;
}

.file.focus .name {
  color: white;
}

.file.focus .icon {
  -webkit-filter: invert(20%);
}

.file.focus {
  background-color: #08C;
  -webkit-border-radius: 4px;
}
.uploader
{
	border: 2px dotted #A5A5C7;
	width: 100%;
	color: #92AAB0;
	text-align: center;
	vertical-align: middle;
	padding: 30px 0px;
	margin-bottom: 10px;
	font-size: 200%;

	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.uploader div.or {
	font-size: 50%;
	font-weight: bold;
	color: #C0C0C0;
	padding: 10px;
}

.uploader div.browser label {
	background-color: #5a7bc2;
	padding: 5px 15px;
	color: white;
	padding: 6px 0px;
	font-size: 40%;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	display: block;
	width: 300px;
	margin: 20px auto 0px auto;

	box-shadow: 2px 2px 2px #888888;
}

.uploader div.browser span {
	cursor: pointer;
}


.uploader div.browser input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: .0;
	filter: alpha(opacity= 0);
	-o-transform: translate(250px,-50px) scale(1);
	-moz-transform: translate(-300px,0) scale(4);
	direction: ltr;
	cursor: pointer;
}

.uploader div.browser label:hover {
	background-color: #427fed;
}

.uploader.is-dragover {
  background-color: #25254a;
}

#upload-label{
  width: 100%;
  color: #92AAB0;
	text-align: center;
	vertical-align: middle;
	padding: 30px 0px;
	margin-bottom: 10px;
	font-size: 200%;
  z-index: -1;
	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#preview{
  width:100%;
  height:100%;
}

.btn_nav{
  padding: 6px 1px;
  margin-right : 0px;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
