extends layout
block content
  .right_col(role='main')
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2
            | Upload
            small only for image
          ul.nav.navbar-right.panel_toolbox
            li
              a.collapse-link
                i.fa.fa-chevron-up
            li
              a.close-link
                i.fa.fa-close
          .clearfix
        .x_content(style='display: block;')
          #drop-area-div.uploader
            | Drag and Drop image Here
            br
            |   or click to add image using the input
            br
            .browser
              label
                span
                  | Click to open the file Browser
                  input(type='file', name='files[]', multiple='multiple', title='Click to add Files')




    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2
            |  Result
            small Label & Precision
          ul.nav.navbar-right.panel_toolbox
            li
              a.collapse-link
                i.fa.fa-chevron-up
            li
              a.close-link
                i.fa.fa-close
          .clearfix
        .x_content
          p
            | Preview & Precision Bar

          .row
            .col-md-6.col-sm-12
              a.thumbnail
                img#preview
            .col-md-6.col-sm-12#progress-lists
