extends layout
block content
  .right_col(role='main')
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2
            | Feedback
          ul.nav.navbar-right.panel_toolbox
            li
              a(href="#",data-toggle="modal", data-target=".bs-example-modal-lg", onClick="image_load(\'#{video}\')")
                button.btn_nav.btn.btn-round.btn-primary(type='button', data-toggle='tooltip', data-placement='top', title='', data-original-title='Feedback'
        ) Feedback    
            li
              a.collapse-link
                i.fa.fa-chevron-up
            li
              a.close-link
                i.fa.fa-close
          .clearfix
        .x_content
          #feedback
          
        .modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel2.modal-title Images
              .modal-body#ModalContent

                
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
    script.
      getFeedback_face("#{video}")
// .fileview
