extends layout
block content
  .right_col(role='main')
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2
            | Feedback
          ul.nav.navbar-right.panel_toolbox
            li
              a.collapse-link
                i.fa.fa-chevron-up
            li
              a.close-link
                i.fa.fa-close
          .clearfix
        .x_content
          #feedback
            .table-responsive
              table.table.table-striped.jambo_table.bulk_action
                thead
                  tr.headings
                    th.column-title File Name
                    th.column-title Size
                    th.column-title.no-link.last
                      span.nobr Action
                  tbody#lists
                
  script.
    getFeedback(defaultId)
