extends layout
block content
  .right_col(role='main')
    // top tiles
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2
            | Hello World!
          ul.nav.navbar-right.panel_toolbox
            li
              a.collapse-link
                i.fa.fa-chevron-up
            li
              a.close-link
                i.fa.fa-close
          .clearfix
        .x_content
          .bs-example(data-example-id='simple-jumbotron')
            .jumbotron
              h1 Hello, world!
              p
                | This is Mosaicer
                br
                | Mosaic your video automatically by Deep Learning Mosaic System
                br
                | Detail REST requests
                a(href='https://github.com/seongahjo/Mosaicer/blob/master/node/REST_API.md') Visit here
