doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gentelella Alela! 
    // Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='css/nprogress.css', rel='stylesheet')
    // Animate.css
    link(href='css/animate.min.css', rel='stylesheet')
    // Custom Theme Style
    link(href='css/custom.min.css', rel='stylesheet')
  body.login
    div
      a#signup.hiddenanchor
      a#signin.hiddenanchor
      .login_wrapper
        .animate.form.login_form
          section.login_content
            form(action='login', method='POST')
              h1 Login Form
              div
                input.form-control(type='text', name='id', placeholder='Username', required='')
              div
                input.form-control(type='password', name='pw', placeholder='Password', required='')
              div
                button.btn.btn-default.submit(type='submit') Log in
                a.reset_pass(href='#') Lost your password?
              .clearfix
              .separator
                p.change_link
                  | New to site?
                  a.to_register(href='#signup')  Create Account 
                .clearfix
                br
                div
                  h1
                    i.fa.fa-cloud-upload
                    |  Mosaicer Cloud
                  p
                    | ©2016 All Rights Reserved.
        #register.animate.form.registration_form
          section.login_content
            form(action='signup', method='POST')
              h1 Create Account
              div
                input.form-control(type='text', name='name', placeholder='Username', required='')
              div
                input.form-control(type='text',  name='id', placeholder='Id', required='')
              div
                input.form-control(type='password', name='pw', placeholder='Password', required='')
              div
                button.btn.btn-default.submit(type='submit') Submit
              .clearfix
              .separator
                p.change_link
                  | Already a member ?
                  a.to_register(href='#signin')  Log in 
                .clearfix
                br
                div
                  h1
                    i.fa.fa-cloud-upload
                    |  Mosaicer Cloud
                  p
                    | ©2016 All Rights Reserved.
