extends layout
block content
  .right_col(role='main')
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2
            | Market
          ul.nav.navbar-right.panel_toolbox
            li
              a.collapse-link
                i.fa.fa-chevron-up
            li
              a.close-link
                i.fa.fa-close
          .clearfix
        .x_content
          div
            .grid
            .grid-sizer
              .grid-item.w2
                .hovereffect
                  img(src='util/img?folder=nam&file=0nam2')
                  .overlay
                    h2 Effect 12
                    p.set1
                      a(href='#')
                        i.fa.fa-twitter
                      a(href='#')
                        i.fa.fa-facebook
                    hr
                    hr
                    p.set2
                      a(href='#')
                        i.fa.fa-instagram
                      a(href='#')
                        i.fa.fa-dribbble
              .grid-item.w2
                img(src='util/img?folder=nam&file=0nam3')
              .grid-item.h2
                img(src='util/img?folder=nam&file=0nam4')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
              .grid-item
                img(src='util/img?folder=nam&file=0nam2')
    script.
      getMarket()
// .fileview
