extends layout
block content
  .right_col(role='main')
    .x_panel
      .x_title
        h2
          |  Setting
          small
        ul.nav.navbar-right.panel_toolbox
          li
            a.collapse-link
              i.fa.fa-chevron-up
          li
            a.close-link
              i.fa.fa-close
        .clearfix
      .x_content
        div
          a#signup.hiddenanchor
          a#signin.hiddenanchor
          .login_wrapper
            section.login_content
              form(action='', method='POST')
                h1 Setting
                div
                  label max_steps
                  input.form-control(type='text', name='max_steps', placeholder='max_steps', required='',value="500")
                div
                  label threshold
                  input.form-control(type='text', name='threshold', placeholder='threshold', required='',value="0.7")
                div
                  label target_label
                  input.form-control(type='text', name='target_label', placeholder='target_label', required='', value="9")
                div
                  label face_frame
                  input.form-control(type='text', name='face_frame', placeholder='face_frame', required='', value="10")
