extends layout

block content
  .right_col(role='main')
    .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        h2
          | Train
          small train images
        ul.nav.navbar-right.panel_toolbox
          li
            a.collapse-link
              i.fa.fa-chevron-up
          li
            a.close-link
              i.fa.fa-close
        .clearfix
      .x_content
        p
          | Train
          code images
          |  to compare
        .table-responsive
          table.table.table-striped.jambo_table.bulk_action
            thead
              tr.headings
                th.column-title 
                th.column-title File Name
                th.column-title Amount
                th.column-title Size
                th.column-title.no-link.last
                  span.nobr Status
              tbody#lists  
          a(href="#",data-toggle="modal", data-target=".bs-example-modal-sm")',
            button.btn.btn-block.btn-primary.pull-right(type='button') train
          
          .modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel2.modal-title New Model
                .modal-body
                  input.form-control#folder-id(type='text',placeholder='untitled folder')
                
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary(type='button', onClick='train()', data-dismiss='modal') Save
  
  script.
    getTrain()
