extends layout

block content
  // page content
  .right_col(role='main')
    div
      .page-title
        .title_left
          h3 Upload
        .title_right
          .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
            .input-group
              input.form-control(type='text', placeholder='Search for...')
              span.input-group-btn
                button.btn.btn-default(type='button') Go!
      .clearfix
      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_title
              h2 Upload Image File
              ul.nav.navbar-right.panel_toolbox
                li
                  a
                    i.fa.fa-folder(data-toggle='modal', data-target='.bs-example-modal-sm')
                    .modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')
                      .modal-dialog.modal-sm
                        .modal-content
                          .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              span(aria-hidden='true') ×
                            h4#myModalLabel2.modal-title New Folder
                          .modal-body
                            input.form-control#folder-id(type='text',placeholder='untitled folder')
                          
                          .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                            button.btn.btn-primary(type='button', onClick='makeFolder()', data-dismiss='modal') Save
                li
                  a
                    i.fa.fa-chevron-left(onClick='goLeft()')
                li
                  a.collapse-link
                    i.fa.fa-chevron-up

              .clearfix
            .x_content
                #uploader.upload
                  p.hidden#upload-label Drag and Drop Images Here
                  .fileview
                    ul.files#files
              //form.dropzone(action='form_upload.html')
              br
              br
              br
              br


    script.
      readFile(defaultId,defaultDir)
    //page content
